PROJECT_NAME="Face Attendance AI"
API_V1_STR="/api/v1"

# Security
SECRET_KEY="tao_mot_chuoi_that_dai_va_bao_mat_o_day"
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# MySQL Database
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=face_attendance_db

# Redis
REDIS_URL=redis://localhost:6379/0
